<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Farson University</title>
</head>
<body>
  <!-- style for details because external css casuses a value error -->
  <style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Century Gothic", sans-serif;
 }
 
 .navlist{
    width: 100%;
    position: fixed;
    padding: 5px 10%;
    background-color: #110e2bbb;
 }

 .navlist ul{
    display: flex;
    list-style: none;
 }

 .navlist ul li:first-child{
    flex: 1;
    color: #ffffff;
    font-size: 2rem;
 }

 .navlist ul li h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
 }

 .navlist ul a{
    display: block;
    margin-left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
 }

 .navlist ul a:hover{
    color: #ff8800;
 }
 .main-box{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000bb, #000000bb), url(photos/pexels-pixabay-267885.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-top: 30vh;
 }
 .main-box p{
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    letter-spacing: 1.4px;
    margin-bottom: 40px;
 }
.delete{
   border-radius: 50%;
   padding: 8px;
}
.delete:hover{
   cursor: pointer;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
  </style>
    <nav class="navlist">
        <ul>
           <li><h4>Group 6</h4></li>
           <% if (user) { %>
           <li><h4>Welcome, <%= user.email %> </h4></li>
           <% } %>
           <li><a href="/homepage">Home</a></li>
           <% if (user) { %>
           <li><a href="/courses">Courses</a></li>
           <li><a href="/studCourses">Student Courses</a></li>
           <li><a href="/logout">Log out</a></li>
           <% } else { %>
           <li><a href="/login">Log in</a></li>
           <li><a href="/signup">Sign up</a></li>
           <% } %>
        </ul>
     </nav>
    <div class="main-box">
        <h2>Course: <%= course.course %></h2>
        <div>
            <p>Teacher: <%= course.teacher %></p>
            <p>Length of course by weeks: <%= course.length %></p>
            <p>Description: <%= course.description %></p>
            <p>Subject: <%= course.subject %></p>
            <p>Course credits: <%= course.points %></p>
        </div>
        <% if (user) { %>
        <a class="delete" data-doc="<%= course._id %>">delete</a>
        <% } %>
    </div>

    <script>
        const trashcan = document.querySelector("a.delete");

        trashcan.addEventListener("click", (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: "DELETE"
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>
<%- include('partials/footer'); -%>